/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

@media screen and (min-width:800px) {
	body {
		background-image: url(../images/BioBG.jpg);
		background-position: center top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}
	
.biology-top-left {
	box-sizing: border-box;
	padding: 0px 10px;
}

.biology-middle-left {
	h2 {
		box-sizing: border-box;
		background: $wwuPaleBlue;
		padding: 10px;
		margin: 0px;
	}
	.more-link {
		text-align: left;
		margin-bottom: 10px;
	}
}

.biology-middle-center {
	box-sizing: border-box;
	padding: 10px;
	background: $wwuBlue;
	h2 {
		color: #fff;
		margin: 0px;
		padding: 0px;
		padding-bottom: 5px;
	}
	.view-content {
		background: #fff;
		margin: 5px;
	}
	.views-row {
		padding: 7px;
	}
	.views-row-even {
		background: $wwuPalestBlue;
	}
}

.biology-middle-right {
	background: #ddd;
	box-sizing: border-box;
	padding: 10px;
	h2 {
		margin: 0px;
		padding: 0px;
	}
	.views-row {
		border-top: 1px solid #eee;
		padding: 10px;
	}
	.views-row-first {
		border-top: none;
	}
}